<html lang="en">
	<head>
		{% block title %}<title>FME Smart Scheduler</title>{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/cron/jquery-cron.js"></script>
		<script type="text/javascript" src="/static/jquery.chained.selects.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css"></script>
		<link  href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.blue.min.css" rel="stylesheet"/>

		<script type="text/javascript">
			var cron_field
			$(document).ready(function() {
				cron_field  =   $('#selector').cron(); // apply cron with default options
			});
			function msg() {
				//Cron String not correct - Adjust  to fix it 
				var cron_str_final = ""
				var cron_str = cron_field.cron("value")
				if(cron_str){
					var cron_values_arr = cron_str.split(" ") 
					var minute =  cron_values_arr[0]
					var hour =  cron_values_arr[1]
					var dom  =  cron_values_arr[2]
					var month  =  cron_values_arr[3]
					var dow =  cron_values_arr[4]
					if(/\*/.test(dow) && /\*/.test(dom)){
						dow = '?'
						
					}
					else if(/[0-9]/.test(dow)){
						dom = '?'
						dow=parseInt(dow)+1
					}
					else if(/[0-9]/.test(dom)){
						dow = '?'
					}
						
					var second = 0

					cron_str_final = second + " " + minute + " " + hour + " " + dom + " " + month + " " + dow

				}
				$("#cron_str").val( cron_str_final);
				if(cron_str_final && $("#readers").val() && $("#writers").val() && $.trim($("#description").val())){
				}
				else{
					alert("All Fields are Required");
					return false;
				
				}

			}
			
			$(document).on("click","tbody tr td button",function () {
				var button = $(this);
				var name = this.id;
				var tr =  button.closest('tr');
				console.log('clicked button with id', name);

				var data = { 'name': name,'csrfmiddlewaretoken': '{{ csrf_token }}' };

				// ask confirmation
				if (confirm('Are you sure you want to delete this Schedule?')) {
					console.log('sending request');
					// delete record only once user has confirmed
					$.post('schedule/delete', data, function (res) {
						console.log('received response', res);
						// we want to delete the table row only we received a response back saying that it worked
						if (res.status) {
							console.log('deleting TR');
							tr.remove();
						}
						$("#warning").html(res.message)
					}, 'json');
				}
			});






		</script>
		<script type = "text/javascript">
				

			 //var chainedData = {'r1': {111: 'w1', 222: 'w2'}, 'r2': {333: 'w3'}}
			var cData = {{workbenches|safe}}

			$(document).ready(function () {
	    			$('#sample-select').chainedSelects({
					data: cData,
		           	 loggingEnabled: true,
		        	});
				$("table").tablesorter({
					    theme : 'blue',
					    // sort on the first column and second column in ascending order
					    sortList: [[0,0],[1,0]]
					  });
			});

			


		</script>
		<link type="text/css" href="/static/cron/jquery-cron.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			* {box-sizing: border-box;}

			body { 
			  margin: 0;
			  font-family: Arial, Helvetica, sans-serif;
			}

			.header {
			  overflow: hidden;
			  background-color: #f1f1f1;
			  padding: 20px 10px;
			}

			.header a {
			  float: left;
			  color: black;
			  text-align: center;
			  padding: 12px;
			  text-decoration: none;
			  font-size: 18px; 
			  line-height: 25px;
			  border-radius: 4px;
			}

			.header a.logo {
			  font-size: 25px;
			  font-weight: bold;
			}

			.header a:hover {
			  background-color: #ddd;
			  color: black;
			}

			.header a.active {
			  background-color: dodgerblue;
			  color: white;
			}

			.header-right {
			  float: right;
			}

			@media screen and (max-width: 500px) {
			  .header a {
			    float: none;
			    display: block;
			    text-align: left;
			  }
			  
			  .header-right {
			    float: none;
			  }
			}
			* {
			  box-sizing: border-box;
			}

			/* Create two equal columns that floats next to each other */
			.column {
			  float: left;
			  width: 50%;
			  padding: 10px;
			 
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}


			select {
				width: 60%;
				height: 50px;
				font-size: 90%;
				/*font-weight: bold; */
				cursor: pointer;
				border-radius: 0;
				background-color: white;
				border: none;
				border-bottom: 1px solid black;
				color: black;
				padding: 10px;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				padding: 10px;
			}

			label { display: block; width: 300px; }




		</style>
	</head>
	<body>
		{% block body %} {% endblock %}
	</body>
</html>

