{%extends "base.html"%}


<body>
	{%block body%} 
	<div class="header">
	  <div class="header-right">
	     <a class="active" href="/">Home</a>
	  </div>
	</div>

	<div style="padding-left:20px">
	  <h2> Company Information</h2>
	  <p id = 'warning' style="color:Tomato;" >{{message}}</p>
	 <!-- <form method="post" onsubmit="return false">  -->
	<form method="post" onsubmit="return msg();" action="/company/">   
	{% csrf_token %}
	<fieldset>
	    <legend>Company Info</legend> 
	  <div class="row">
	  <div class="column">
		<label style="font-weight:bold" size="20">Company Name</label>
	   	<input type="text" id="cname" name="name" size = "50" required><br><br>
	</div>
	  <div class="column">
		<label style="font-weight:bold" size="20">Email</label>
		<input type="email" id="email" name="email" size="50" required>
	   	<br><br>
	</div>
	</div>
	<div class="row">
	<div class="column">
		<label  style="font-weight:bold" for="username" size="20">User Name(No Space):</label>
		<input type="text" id="username" name="username" size="50" required>
	</div>
	 <div class="column">
		<label  style="font-weight:bold" for="pwd" size="20">Password:</label>
		<input type="password" id="pwd" name="password" size="50" required>
	</div>
	</div>
	<div class="row">
	<div class="column">
		<label style="font-weight:bold" size="20">BSB</label>
	   	<input type="text" id="bsb" name="bsb" size = "30" required><br><br>
	</div>
	<div class="column">
		<label style="font-weight:bold" size="20" >Account No</label>
	   	<input type="text" id="account_no" name="account" size = "30" required><br><br>
	</div>
	</div>
	<br>
	<br>
	<input type="submit"  value = "Save" >	
	</fieldset>
	</form>
	</div>
	<br>

	{% endblock %}


</body>

